extends layout

block content
    main.flex-shrink-0
        .container
            h1.mt-5 Program Name
            p.lead Landing
            p Figure out what pages need for the 'sales' side of the site 
            p Make wireframe 
            p Sketch out the course pages 
            p Figure how to make DOM JS run 
            p Hook up wk buttons to corresponding videos, show/hide videos on click 
            p     - Do with css for now, although could dynamically generate on request it will   reload page, so only do that if we convert the site to react
            ul Build data structure that contains: 
              li - video link 
              li - video title 
              li - amount watched by user 
              li - description 
            ul  Dynamically generate 
              li -video in the continue watching 
              li -videos in the quick view 
            p Add checkpoints 
            p  Add logic to show only some wks at a time 
            p  Dynamically generate passed modules 
            p  Reduce base font size 
            p  Style lines between the wk button pressed and its videos 
            p  Style dotted lines between the wk buttons 
            p  Use the youtube data api for providing info to create the docs in db 
            p  Use the server-side youtube api client library 
            p  Fix the while loop incrementor displaying 
            p  *******Finished********** 
            p  Set up mongodb + gcp 
            p  Clean up schemas and controllers 
            p  Create a object {wk1{vid1: {title: tonato, description: aotsn, link: raston...}}} 
            p  Use a for loop to create the video containers, adding data-week attribute to indicate the week it belongs to 
